<%- include ("./partials/_header") %>

<main role="main" class="container">
    <div class="row">
      <div class="col-md-8 blog-main">
        
        <form action="/edit/<%= post._id   %>" method="POST">
          <div class="form-group">
            <input type="text" class="form-control" name="title" placeholder="Title" value="<%= post.title  %>">
          </div>
          <div class="form-group">
            <input type="text" name="author" class="form-control" placeholder="Author" value="<%= post.author %>">
          </div>
          <div class="form-group">
            <textarea class="form-control" name="post_data" cols="100" rows="10"
              placeholder="Add a Description"> <%= post.post_data  %>
            </textarea>
          </div>
          <button type="submit" class="btn btn-primary">Update</button>
        </form>
      </div>
    </div>
  </main>

<%- include ("./partials/_footer") %>
